header {
  display: flex;
  background: rgb(206, 82, 82);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.548);
  width: 100%;
  color: white;
}

.menuItem {
  padding: 5px 20px;
  user-select: none;
  cursor: pointer;
}

.menuItem a {
  text-decoration: none;
  color: azure
}

.menuItem a:visited {
  color: azure
}

.menuItem a:link {
  color: azure
}

.menuItem:hover {
  background: rgb(206, 67, 67);
}

.menuItem:active {
  background: rgb(175, 22, 22);
}