.container{
  display: table;
  width: 100%
}

.item{
  display: table-cell;
  text-align: center;
  height: 40px;
  vertical-align: middle;
}

div{
  background: #d6d6d6;
/*  border: 1px solid gray;*/
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
  div{
    background: #46d3fd;
  }
  .item{
    display: block;
  }
}