div{
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    background: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}