.main{
  border: 1px solid gray;
  color:gray;
  
  padding-bottom: 2000px;
    
}

.blue{
  background: blue;
  padding: 5px;
  position: absolute;
  top:50px;
  left: 50px;
}

.red{
  background: red;
}

.pink{
  background: pink;
}

.yellow{
  background: yellow;
  position: static;
  top:30px;
}

.green{
  background: green;
  position: absolute;
  top:20px;
  left:20px;
  padding: 10px;
}
